body {
    font-size: 20px; /* Adjust this value as needed */
  }
  
  h1 {
    font-size: 10em; /* Adjust this value as needed */
  }
  
  h2 {
    font-size: 5em; /* Adjust this value as needed */
  }
  
  h3 {
    font-size: 2em; /* Adjust this value as needed */
  }
  
  /* Add more styles as needed */
  